.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color:wheat; 
}

#poke-image {
  padding:20px;
  width: 300px;
}

#img-id {
  padding:5px;
  width: 150px;
}

#buttonText {
  padding:20px;
  width: 300px;
  size:50px;
  font-weight:bold;
  font-size: 25px;
}

#buttonTwo {
  padding:20px;
  width: 200px;
  size:50px;
  font-weight:bold;
  font-size: 15px;
}

.card {
  /* Add shadows to create the "card" effect */
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

#name {
  padding:20px;
}
